@use '../../assets/sass/_variables.scss' as *;

.nav {
  background-color: $color-primary;
  height: 60vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  h2{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .nav__cross {
    margin: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
  
  .nav__container {
    font-size: 1.2rem;
    text-decoration: none;
    color: $color-white;
    padding: 20px;
    line-height: 2.5rem;;
  }
  .note{
    display: flex;
    justify-content: center;
    color: $color-white;
  }
  .nav__search{
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .nav{
    height: 90vh;
  }
}